// app global css in SCSS form

* {
  font-family: lato;
}

// /* Dropdown Button */
// .dropbtn {
//   background-color: transparent;
//   color: white;
//   padding: 16px;
//   font-size: 16px;
//   border: none;
//   cursor: pointer;
//   font-weight: bold;
// }

// .dropbtn:hover {
//   color: #002357;
// }

// /* The container <div> - needed to position the dropdown content */
// .dropdown {
//   position: relative;
//   display: inline-block;
// }

// /* Dropdown Content (Hidden by Default) */
// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f1f1f1;
//   min-width: 200px;
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//   z-index: 1;
// }

// /* Links inside the dropdown */
// .dropdown-content a {
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
// }

// /* Change color of dropdown links on hover */
// .dropdown-content a:hover {
//   background-color: #ddd;
// }

// /* Show the dropdown menu on hover */
// .dropdown:hover .dropdown-content {
//   display: block;
// }

// .hover {
//   text-decoration: none;
// }
// .hover:hover {
//   color: white;
// }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.numbers {
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: white;
}

.box {
  border: solid 0.5px #dbdfe4;
  padding: 5px 5px;
  cursor: pointer;
}
.box:hover {
  border: solid 2px #0a2b4c;
}
