// app global css in SCSS form

* {
  font-family: lato;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.numbers {
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: white;
}

.box {
  border: solid 0.5px #dbdfe4;
  padding: 5px 5px;
  cursor: pointer;
}
.box:hover {
  border: solid 2px #0a2b4c;
}
